<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chat_to_Callsheet_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Chat_to_Callsheet_Tool.Properties.Settings>
            <setting name="ChatCustIdX" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatCustIdY" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatCustNameX" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatCustNameY" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatProblemX" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatProblemY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetCustIdX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetCustIdY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetCustNameX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetCustNameY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetProblemX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetProblemY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetInProgressX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetInProgressY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetSaveX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetSaveY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetNewX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetNewY" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetResultX" serializeAs="String">
                <value />
            </setting>
            <setting name="CallsheetResultY" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatToCallsheetHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertChatToCallHotkey" serializeAs="String">
                <value />
            </setting>
        </Chat_to_Callsheet_Tool.Properties.Settings>
    </userSettings>
</configuration>